.layout {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #f4f6f9;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  overflow: hidden;
}

.layout * {
  box-sizing: border-box;
}

.layout .sa-sidebar {
  width: 260px;
  background-color: #343a40;
  color: #c2c7d0;
  display: flex;
  flex-direction: column;
  padding: 10px;
  /* padding-top: 20px; */
  flex-shrink: 0;
  transition: transform 0.3s ease;
  z-index: 100;
  gap: 10px;
  overflow: hidden;
}

.layout .sa-menu-item,
.layout .app-name {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  border-radius: 10px;
}

.layout .app-name {
  width: 150%;
  border-radius: 0px;
  border-bottom: 2px solid #ffffff;
}

.layout .sa-menu-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}

.layout .sa-menu-item.active {
  background-color: #007bff;
  color: #ffffff;
}

.layout .logout {
  position: absolute;
  width: calc(260px - 20px);
  /* margin-top: 180%; */
  background-color: red;
  color: #ffffff;
  border-radius: 10px;
  bottom: 10px;
}

.layout .menu-icon {
  flex-shrink: 0;
}

.layout .sa-main-content {
  flex: 1;
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
}

.layout .sa-header {
  display: flex;
  align-items: center;
  padding: 10px;
}

.layout .sa-hamburger {
  display: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .layout .sa-hamburger {
    display: block;
  }

  .layout .sa-sidebar {
    position: fixed;
    left: -260px;
    top: 0;
    height: 100vh;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
  }

  .layout .sa-sidebar.mobile-open {
    left: 0;
  }

  .layout .application-list {
    grid-template-columns: 1fr;
    padding: 8px;
  }

  .layout .college-application .header {
    font-size: 1.5rem;
  }

  .layout .btn-field {
    flex-direction: column;
  }

  .layout .btn-field button {
    width: 100%;
  }
}
