.LoginPage {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.LoginPage .wrapper {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 40px 40px 55px 40px;
    border-radius: 10px;
    gap: 20px;
    height: auto;
}

.LoginPage .logo {
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.LoginPage .logo img {
    height: 2.9rem;
}

.LoginPage .title {
    font-size: 1.5rem;
    font-weight: bolder;
}

.LoginPage .input-field {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.LoginPage .input-field div {
    position: relative;
}

.LoginPage .input-field div span {
    position: absolute;
    top: 25%;
    right: 5%;
}

.LoginPage input:not(#rem) {
    padding: 5px 30px 5px 10px;
    border: 2px solid black;
    outline: 0;
    width: 100%;
    border-radius: 10px;
}

.LoginPage .btn-field {
    width: 100%;
}

.LoginPage button {
    width: 100%;
    padding: 5px;
    font-size: 1.2rem;
    background-color: rgb(0, 0, 255);
    color: #fff;
    cursor: pointer;
}