/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;
  background-color: rgb(219, 213, 213);
}